Headcount report

The purpose of this project is to automate the headcount report for ITIVITI, in order to have a view on the new joiners, leavers and the actual headcount for the month of October.
The data processed will be from the file october_database.xlsx .

Tasks: 

*count headcount:
    * process: count the employees who have "1" as a value in column "HC";
done
* count VIE :
    * process: count and show the employees with "VIE" contract type who are still employed;
done
* count interns
    * process:  count and show the employees with "intern" contract type who are still employed;
done
*count consultants:
    * process: count and show the employees with "freelancer" contract type who are still employed;
done

* a minimum of two custom collections (mandatory a sequence and a mutable mapping),
done, done 

* each class must implement custom str and repr methods
done
* a minimum of one of the following: decorator, context manager, and generator,
done, done, done
* mixin, inheritance, and one scenario of operator overloading,
done, done, done
* logging (using the standard logging)
done
* unit testing.
X




